<div class="panel-display panel-3col clearfix">
  <div class="panel-panel panel-col-first">
    <div class="inside">{{> atoms-paragraph }}</div>
  </div>

  <div class="panel-panel panel-col">
    <div class="inside">{{> organisms-article-body }}</div>
  </div>

  <div class="panel-panel panel-col-last">
    <div class="inside">{{> organisms-recent-tweets }}</div>
  </div>
</div>
